node_modules/
.env

# Hardhat files
cache/
artifacts/

# TypeChain files
typechain
typechain-types

# solidity-coverage files
coverage
coverage.json

# Hardhat Ignition default folder for deployments against a local node
**/ignition/deployments/chain-31337

#MAC OS
.DS_Store

.vscode/


## IPFS
# Ignore everything in blockstore and datastore
data/blockstore/*
data/datastore/*

# But keep the directories
!data/blockstore/
!data/datastore/

# Keep .gitkeep files to ensure the directories are tracked
!data/blockstore/.gitkeep
!data/datastore/.gitkeep